#banner {
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 2.5rem;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding: 2.5rem 0;
    margin: 0;
}

#joinContainer {
    background: #ffffff29;
    height: 512px;

    backdrop-filter: blur(16);
    padding-top: 10vh;
    padding-bottom: 10vw;
    padding-left: 14vw;
    padding-right: 14vw;
    margin: 11vh 7.5vw;
    border-radius: 24px;
}

#banner-h1 {
    font-family: "Poppins";
    font-weight: 500;
    color: white;
    font-size: 3em;
    padding-top: 20vh;
    padding-bottom: 6vh;
    padding-left: 16vw;
    padding-right: 16vw;
    letter-spacing: -0.06rem;
}

#banner-h1-mobileview {
    font-family: "Poppins";
    font-weight: 500;
    color: white;
    font-size: 2em;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 6vh;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -0.06rem;
}

#banner-p {
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    font-size: 24px;
    padding-left: 20vw;
    padding-right: 20vw;
    letter-spacing: -0.06rem;
}

#banner-p-mobileview {
    font-family: "Poppins";
    font-weight: 400;
    color: white;
    font-size: 18px;
    padding-left: 18vw;
    padding-right: 18vw;
    letter-spacing: -0.06rem;
}
